@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

@media (pointer: fine) {
  body.hide-cursor *, body.hide-cursor *::before, body.hide-cursor *::after {
    cursor: none !important;
  }
}

.font-display {
  font-family: var(--font-display), Georgia, serif;
}
